/*Although the name of this page is form, I'll be using it to style most of my css */

form {
    margin-top: 50px; 
    width: 400px;
    margin-left: 60px;
  }

  .right {
   float: right;
   margin-top: 30px;
   margin-right: 58px;
  }